.site-layout .site-layout-background {
    background: #ffffff;
    padding:0;
    height:100%;
}
.site-layout-background{
    padding:0!important;
}
.ant-layout-content{
    margin:0!important;
    padding-top:10px;
    flex:1;
}
.article-wrapper{
    height:100%;
    .article-menu{
        height:100%;
        overflow:auto;
        border-right:1px solid #e8e8e8;
        &::-webkit-scrollbar{
           display:none;
        }
    }
    .menu-title{
        line-height:36px;
        font-size:14px;
        border-bottom:1px solid #f1f1f1;
        color:#1890ff;
    }
    .menu-item{
        padding:3px 0 3px 10px;
        border-bottom:1px solid #f9f9f9;
        cursor:pointer;
        line-height:28px;
        text-align:left;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
    }
    .article{
        display:flex;
        flex-direction:column;
        min-height:0;
        .ant-input-textarea{
            flex:1;
            textarea{
                resize:none;
                height:100%;
            }
        }
    }
    .left-header{
        display:flex;
        justify-content:space-between;
    }
    .preview{
       max-height:100%;
       background-color:#fcfbf1;
       border:1px solid #d9d9d9;
       overflow:auto;
       text-align:left;
    }
}
#root,.App,.ant-layout{
    height:100%;
}

