body{
    background-color:#f9f9f9;
}
ul{
    padding:0;
    margin:0;
    list-style:none;
}
.sign-bg{
    position:fixed;
    left:0;right:0;top:0;bottom:0;
    background:url("../../static/imgs/sign_bg.png") no-repeat center/cover;
    overflow:hidden;
    z-index:-10;
}