.find-password-wrapper{
    padding-top:100px;
    .find-password-card{
        margin:0 auto;
        width:400px;
        border-radius:8px;
    }
    .email-input,.new-input,.repeat-input,.verify-container{
        margin-bottom:20px;
    }
    .verify-container{
        display:flex;
        justify-content:space-between;
    }
    .email-verify{
        margin-right:10px;
    }
    .confirm-button{
        width:100%;
    }
    .ant-input-prefix{
        color:#999;
    }
}