.register-wrapper{
    padding-top:100px;
    .register-card{
        margin:0 auto;
        width:400px;
        border-radius:6px;
        .ant-input{
            color:#888888;
        }
        .ant-card-head-title{
            text-align:center;
        }
        .ant-input-prefix{
            color:#ccc;
            margin-right:8px;
        }
        .register-input{
            margin-bottom:25px;
        }
        .register-button{
            width:100%;
        }
    }
    .has-account{
        height:60px;
        line-height:60px;
        text-align:right;
        cursor:pointer;
        color:#888;
        user-select:none;
    }
    .sign-bg{
        position:fixed;
        left:0;right:0;top:0;bottom:0;
        background:url("../imgs/sign_bg.png") no-repeat center/cover;
        overflow:hidden;
        z-index:-10;
    }
}