.register-wrapper{
    padding-top:100px;
    .register-card{
        margin:0 auto;
        width:400px;
        border-radius:6px;
        .ant-input{
            color:#888888;
        }
        .ant-card-head-title{
            text-align:center;
        }
        .ant-input-prefix{
            color:#ccc;
            margin-right:8px;
        }
        .register-input{
            margin-bottom:25px;
        }
        .register-button{
            width:100%;
        }
    }
    .has-account{
        height:60px;
        line-height:60px;
        text-align:right;
        cursor:pointer;
        color:#888;
        user-select:none;
    }
    .verify-wrapper{
        display:flex;
        .verify-text{
            margin-right:10px;
        }
    }
}