.tool-bar{
    display:flex;
    height:32px;
    line-height:32px;
    background-color:#d9d9d9;
    text-align:left;
    .tool-icon{
        padding:0 12px;
        cursor:pointer;
        font-size:16px;
        &:hover{
            background-color:rgba(0,0,0,.3);
            color:#ffffff;
        }
    }
}