.footer_wrapper{
    padding-top:20px;
    background-color:#F6f9fa;
    height:130px;
    text-align:center;
    .breadcrumb,.link,.copyright{
        color:#999;
    }
}
.footer{
    color:#999;
    .copyright{
        padding-right:5px;
    }
    .link{
        font-size:12px;
        padding-left:8px;
    }
    .link:hover{
        color:#1e90ff;
    }
}
