.content-wrapper{
    .content-title{
        font-size:20px;
        line-height:42px;
        color:#1e90ff;
    }
    .date,.type,.watch-number{
        padding-right:15px;
        line-height:36px;
    }
    .content-info{
        color:#b1b1b1;
    }
    .content{
        padding-top:10px;
        line-height:28px;
        text-indent:2em;
    }
}